<div class="main">
  <h1>{{ componentTitle }}</h1>
  <label for="addItemInput">What would you like to do today?</label>

  <div class="content">
    <div class="input-container">
      <input
        #newItem
        placeholder="add an item"
        (keyup.enter)="addItem(newItem.value); newItem.value = ''"
        class="input-field"
        id="addItemInput"
      />
      <span class="input-highlight"></span>
    </div>

    <button class="btn-primary" (click)="addItem(newItem.value)">Add</button>
  </div>

  <ul>
    <li *ngFor="let item of items">{{ item.description }}</li>
  </ul>
</div>